{% extends '_base.html' %}

{% load account %}

{% block content %}
    <div class="account_action">
        <form class="login" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div>{{ form.login }}</div>
            <div>{{ form.password }}</div>

            {% for error in form.non_field_errors %}
                <div class="error_msg">{{ error }}</div>
            {% endfor %}

            <div>{{ form.remember }} Remember me?</div>

            <div><button type="submit">Sign In</button></div>
        </form>
    </div>
{% endblock %}
